.commonarea {
    display: flex;
}

.left {
    flex: 1;
    margin-right: 5px;
}

.right {
    flex: 10;
    margin-left: 5px;
}

.deck_holder {
    display: flex;
}

.deck {
    display: inline-block;
    position: relative;
    width: 81px;
    height: 117px;
    background-image: url('img/cards.png');
    background-position: 0% 100%;
    background-size: 1900% 300%;
}

.deck_mini {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 22px;
    background-image: url('img/cards.png');
    background-position: 0% 100%;
    background-size: 1900% 300%;
}

.discard {
    display: inline-block;
    position: relative;
    width: 81px;
    height: 117px;
    background-image: url('img/cards.png');
    background-position: 0% 100%;
    background-size: 1900% 300%;
}

.discard[data-state="empty"] {
    background-position: 6% 100%;
}

.card_count {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px;
    color: white;
    background-color: #00000099;
    border-radius: 50%;
}

.stockitem {
    background-size: 1900% 300%;
}

.card {
    display: inline-block;
    position: relative;
    width: 81px;
    height: 117px;
    background-image: url('img/cards.png');
    background-size: 1900% 300%;
}

.card_0 {
    background-position: 0% 0%;
}

.card_1 {
    background-position: 5.5% 0%;
}

.card_2 {
    background-position: 11.2% 0%;
}

.card_3 {
    background-position: 16.7% 0%;
}

.card_4 {
    background-position: 22.2% 0%;
}

.card_5 {
    background-position: 27.8% 0%;
}

.card_6 {
    background-position: 33.3% 0%;
}

.card_7 {
    background-position: 38.8% 0%;
}

.card_8 {
    background-position: 44.5% 0%;
}

.card_9 {
    background-position: 49.9% 0%;
}

.card_10 {
    background-position: 55.6% 0%;
}

.card_11 {
    background-position: 61.1% 0%;
}

.card_12 {
    background-position: 66.7% 0%;
}

.card_13 {
    background-position: 72.2% 0%;
}

.card_14 {
    background-position: 77.8% 0%;
}

.card_19 {
    background-position: 83.3% 50%;
}

.card_20 {
    background-position: 5.5% 50%;
}

.card_21 {
    background-position: 11.2% 50%;
}

.card_22 {
    background-position: 16.7% 50%;
}

.card_23 {
    background-position: 22.2% 50%;
}

.card_24 {
    background-position: 27.8% 50%;
}

.card_25 {
    background-position: 33.3% 50%;
}

.card_26 {
    background-position: 38.8% 50%;
}

.card_27 {
    background-position: 44.5% 50%;
}

.card_28 {
    background-position: 49.9% 50%;
}

.card_29 {
    background-position: 55.6% 50%;
}

.card_30 {
    background-position: 61.1% 50%;
}

.card_31 {
    background-position: 66.7% 50%;
}

.card_32 {
    background-position: 72.2% 50%;
}

.card_33 {
    background-position: 77.8% 50%;
}

.card_34 {
    background-position: 83.3% 50%;
}

.card_35 {
    background-position: 88.9% 50%;
}

.card_36 {
    background-position: 94.5% 50%;
}

.card_37 {
    background-position: 100% 50%;
}
